.Articles{
    margin: 30px;
    padding: 10px 0;
}
.Articles-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Articles-btns{
    display: flex;
    gap: 50px;
}
.Articles-cards{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.Article-card{
    margin: 20px 0;
    width: 650px;
    height: 450px;
   
}
.Articles-img{
    width: 100%;
    border-radius: 10px;
    transition: all 0.7s ease;
}
.Articles-img:hover{
    transform: scale(1.02);
}
.Articles-text , .Articles-info{
    text-align: center;
}