.service-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.services-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services-img{
width: 430px;
height: 300px;
border-radius: 25px;
padding: 5px 0;
transition: all 0.7s ease;
}
.services-img:hover{
    transform: scale(0.9);
}
.services-text{
color:#211F54;
padding: 5px 0;
text-align: center;
}
.services-info{
    color: #6E7191;
    text-align: center;
}
.services-btns{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}
