.contact .container{
    display: flex;
    align-items: center;
    background:  #F7F9FC;
    justify-content: space-evenly;
    padding: 20px 0;
 
}
/* contact-left */
.contact-left{
    width: 500px;
    height: 500px;
   padding: 70px 15px;
}
.contact-title{
   padding: 20px 0;
}
.contact-text , .contact-lorem{
    color: #6E7191;
}
.contact-info{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px 0;
}
.contact-img{
    width: 71.94px;
    height: 72px;
}
.contact-anchor{
    font-size: 20px;
    color: #000;
}
.contact-subtitle{
font-size: 24px;
padding: 10px 0;
}
.contact-btn{
    width: 150px;
    height: 40px;
    border: 1px solid #EFF0F6;
    margin: 20px 0;
}
.contact-link{
    width: 100%;
    color: #211F54;
}
/* contact-right */

.contact-right{
        width: 500px;
        height: 500px;
    /* display: flex; */
    align-items: center;
    border: 1px solid #EFF0F6;
    box-shadow: 0px 2px 6px 0px #14142B0A;
    background-color: #fff;
    padding:  15px;
   
}
.contact-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.form-left, .form-right{
    display: flex;
    flex-direction: column;
}
.form-input{
    width: 170px;
height: 50px;
border-radius: 16px 0px 0px 0px;
border: 1px 0px 0px 0px;
border: 1px solid #EFF0F6;
box-shadow: 0px 2px 12px 0px #14142B14;
margin: 15px 0;
outline: none;
padding: 20px;
}
.form-button{
    display: flex;
    flex-direction: column;
}
.form-textarea{
    margin: 10px 0;
    border: 1px solid #EFF0F6;
    box-shadow: 0px 2px 7px 0px #14142B14;
  outline: none;
  padding: 10px;
}
@media screen and (max-width:980px ){
    .contact .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
     
    }
    .contact-left{
        width: 700px;
       padding: 40px 15px;
    }
    .contact-title{
       padding: 15px 0;
    }
    .contact-information{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 300px;
    }
    .contact-img{
        width: 70px;
        height: 70px;
    }
    /* contact-right */
    
    .contact-right{
            width: 700px;
            height: 550px;
    }
    .form-input{
        width: 200px;
    height: 50px;
    }
}
@media screen and (max-width:760px ){
    .contact-left{
        width: 550px;
       padding: 20px 15px;
    }
    .contact-information{
        gap: 160px;
    }
    .contact-img{
        width:60px;
        height: 60px;
    }
    .contact-right{
        margin-top: -100px;
            width: 550px;
            height: 600px;
    }
    .form-input{
        width: 160px;
      height: 50px;
    }
}
@media screen and (max-width:600px ){
    .contact-left{
        width: 500px;
       padding: 10px 15px;
    }
    .contact-information{
        gap: 70px;
    }
    .contact-right{
        margin-top: -100px;
            width: 500px;
            height: 600px;
    }
    .form-input{
        width: 160px;
      height: 50px;
    }
}
@media screen and (max-width:480px ){
    .contact-left{
        width: 400px;
        padding: 10px 15px;
        margin: 0;
    }
    .contact-information{
        gap: 40px;
    }
    .contact-right{
        margin-top: -70px;
            width: 500px;
            height: 500px;
            border: 2px solid red;
    }
    .form-input{
        width: 130px;
      height: 30px;
    }
}
@media screen and (max-width:430px ){
    .contact-left{
        width: 390px;
        padding: 10px;
        margin: 0;
    }
    .contact-information{
        gap: 40px;
    }
    .contact-right{
        padding: 10px ;
        margin-top: -70px;
            width: 500px;
            height: 500px;
    }
    .form-input{
        width: 130px;
      height: 30px;
    }
}
@media screen and (max-width:545px ){
    .contact-left{
        width: 370px;
    }
    .contact-information{
        gap: 20px;
    }
    .contact-right{
        margin-top: -50px;
            width: 370px;
            height: 500px;
    }
    .form-input{
    width: 120px;
    height: 30px;
    margin: 10px 0;
    padding: 10px;
    }
    .form-button{
        display: flex;
        flex-direction: column;
    }
    .form-textarea{
        margin:30px 0;
    }
}
@media screen and (max-width:488px ){
    .contact-left{
        width: 300px;
    }
    .contact-information{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .contact-right{
        margin-top: -50px;
            width: 300px;
            height: 470px;
    }
    .form-input{
    width: 80px;
    height: 10px;
    margin: 5px 0;
    padding: 11px;
    }
    .form-textarea{
        margin:20px 0;
    }
}
@media screen and (max-width:356px ){
    .contact-left{
        width: 260px;
    }
    .contact-right{
        margin-top: -50px;
            width: 260px;
            height: 470px;
    }
    .form-input{
    width: 60px;
    height: 13px;
    }
    .form-textarea{
        margin:20px 0;
    }
}